language: php
php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
install: composer install --dev --no-interaction
script: ./vendor/bin/phing genTestReports -Dcrab.run_integration_tests=false
after_script:
    - php vendor/bin/coveralls -v
notifications: 
    email:
        - koen.vandaele@rwo.vlaanderen.be
